

##' ------------------------------------------------------------------------
##' IMPORT
##' ------------------------------------------------------------------------

import(methods)


##' ------------------------------------------------------------------------
##' EXPORT
##' ------------------------------------------------------------------------

exportPattern("^[^\\.]")
